
<%= form_with(model: delegate, local: true) do |form| %>
  <% if delegate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(delegate.errors.count, "error") %> prohibited this delegate from being saved:</h2>

      <ul>
      <% delegate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input-autocomplete required
    id="delegate_delegate_id"
    name="delegate[delegate_id]"
    label="Assign people to use this system on your behalf"
    :items="<%= @staff_list %>"
  ></input-autocomplete>

  <div class="actions">
    <input-button type="submit" variation="solid">Add Delegate</input-button>
  </div>
<% end %>
