<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">x</button>
  <h4 class="modal-title" id="eventDateModal">Possible Date Detected</h4>
</div>
<div class="modal-body">
  
</div>
<div class="modal-footer">
  <lux-input-button variation="solid" size="small">Continue</lux-input-button>
  <lux-input-button variation="outline" size="small">Cancel</lux-input-button>
</div>