<grid-item>
  <alert status="error">
    <h2><%= pluralize(request_change_set.errors.count, "error") %> prohibited this request from being saved:</h2>

    <ul>
    <% request_change_set.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </alert>
</grid-item>
