<%= form_with(model: absence_request, local: true) do |form| %>
  <% if absence_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absence_request.errors.count, "error") %> prohibited this absence_request from being saved:</h2>

      <ul>
      <% absence_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
