<h1>Editing Absence Request</h1>

<%= render 'form', absence_request_change_set: @absence_request_change_set %>

<%= link_to 'Show', @absence_request_change_set.model %> |
<%= link_to 'Back', absence_requests_path %>
