<div class="flash_messages">
  <% [:success, :notice, :error, :alert].each do |type| %>
    <% lux_status = type
       lux_status = 'warning' if lux_status == :alert
       lux_status = 'info' if lux_status == :notice
       if flash[type] %>
        <alert status="<%= lux_status %>" dismissible><%= flash[type] %></alert>
    <% end %>
  <% end %>
</div>
