<h1>The following request was updated by <%= @request.creator %> on <%= @request.formatted_updated_at %>.</h1>
<p>To review the request for approval go to <a href="<%= @request.review_path %>">here</a></p>
<%= render "mailer/review_details" %>