<h1>Welcome#index</h1>

<%= button_to "Login", user_cas_omniauth_authorize_path %>

<card id="myCard">
  <media-image src="https://picsum.photos/600/300/?random" height="medium" cover></media-image>
  <heading level="h2">Title</heading>
  <text-style variation="default">Design isn't just about the look and feel. Design is how it works.</text-style>
<card id="myCard2">
  <media-image src="https://picsum.photos/600/300/?random" height="medium" cover></media-image>
  <heading level="h2">Title2</heading>
  <text-style variation="default">Design isn't just about the look and feel. Design is how it works.</text-style>
</card>
