<h1>The following request was submitted on <%= @request.formatted_created_at %>.  To complete the cancelation it must be recorded.</h1>
<p><%= @request.previous_state_change_title %></p>
<p>To view your request go to <a href="<%= @request.show_path %>">here</a></p>
