
$red: #facec8;
$yellow: #ffecbd;
$green: #c3ed79;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-grayscale-warm-lighter);
  font-family: var(--font-family-system);
}

// Adds space to main-content of page
.main-content .lux {
  padding-top: 1rem;
}

// Makes home page vertically centered
.stretch-height {
  height: calc(100vh - 88px);
  text-align: center;
}

.lux-alert ul {
  margin: 1rem 0 0 2rem;
}

.current-delegate span {
  display: block;
  font-weight: var(--font-weight-bold);
  line-height: 40px;
  margin: 0 auto;
  max-width: 1400px;

  .lux-link.button.outline {
    background-color: var(--color-white);
    border: 0;
    line-height: 1;

    &:hover,
    &:focus {
      color: var(--color-bleu-de-france-darker);
    }

    @media (max-width: 899px) {
      display: inline-block;
    }

    @media (min-width: 900px) {
      float: right;
    }
  }

  p {
    line-height: 1.6;
    font-weight: var(--font-weight-regular);
    margin-top: 1rem;
  }
}

@media (max-width: 599px) {
  .lux-button.medium,
  .lux-link.button.medium, .lux-select.medium {
    display: block;
    width: 100%;
    min-height: 44px;
    margin: 0 0 0.5rem;
  }

  .sm-12.auto {
    flex-basis: 100%;
  }
}
