.title-card .lux-card-header span {
  display: block;
}

.title-card .event-requestor {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.title-card .event-dates {
  margin-top: 1.75rem;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.title-card .lux-card-media {
  padding: 0 0.5rem 1rem;
}

.title-card .lux-tag {
  justify-content: center;
}

.title-card .lux-card-content .status-red,
.title-card .lux-card-content .status-yellow,
.title-card .lux-card-content .status-green,
.title-card .lux-card-content .status-gray {
  padding: 1.5rem;

  p {
    margin-bottom: 0;
  }
}

.title-card .lux-card-content .status-red {
  background: $red;
}

.title-card .lux-card-content .status-yellow {
  background: $yellow;
}

.title-card .lux-card-content .status-green {
  background: $green;
}

.title-card .lux-card-content .status-gray {
  background: $color-grayscale-lighter;
}

.status-gray .total-hours-status {
  color: $color-grayscale-dark;
  position: relative;

  &::after {
    border-bottom: 0.125em solid rgba($color-grayscale-dark, 0.5);
    content: "";
    left: 0;
    line-height: 1em;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
  }
}
