.expenses .expense-row {
  padding: 0;
}

.expenses .lux-col {
  padding: 0.5rem 0 0 0.5rem;
}

.expense-row .lux-flex-container {
  padding: 0;
}

.expense-row .lux-col:first-child {
  padding-left: 0;
}

.expense-row-header .lux-col {
  padding: 1rem 0 0 1rem;
}

.expense-row-header .lux-flex-container {
  padding-bottom: 0;
}

.expense-delete {
  flex-basis: auto;
}

.expense-add {
  margin-left: 85px;
}

.expense-add .lux-icon {
  margin-left: 0;
}

.expense-total,
.expense-total-col input {
  text-align: right;
}

.travel-estimates tr:last-child td,
.expense-total .lux-text-style {
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
}

.lux-card-content .lux-data-table {
  width: 100%;
}

@media (max-width: 599px) {
  .lux-data-table {
    table-layout: fixed;
  }
  // hide the notes and the cost per occurance
  .lux-data-table tr td:nth-child(2),
  .lux-data-table tr th:nth-child(2),
  .lux-data-table tr td:nth-child(3),
  .lux-data-table tr td:nth-child(3) lux-data-table-number,
  .lux-data-table tr th:nth-child(3)
  {
		display: none;
  }
}

@media screen and (min-width: 600px) {
  .lux-data-table {
    table-layout: fixed;
  }

}
