.search-filter-sort.lux-card {
  border: 1px solid var(--color-grayscale-warm-light);
  box-shadow: none;
  background: lighten(rgb(210, 202, 173), 17%);
}

.lux-col .lux-search-box,
.search-filter-sort .lux-flex-container {
  margin-bottom: 0;
  padding-bottom: 0;
}

.filter-applied {
  border-top: 1px solid var(--color-grayscale-warm-light);
  margin-top: 1rem;
  padding-top: 1rem;
}

.filter-label {
  color: var(--color-grayscale-darker);
  display: block;
  font-size: var(--font-size-small);
  margin: 0 0 0.5rem 1rem;
}

.filter-applied .lux-tag.filter li {
  margin-right: 0.5rem;
}

.search-filter-sort .lux-dropdown-menu {
  width: 100%;
  @media (min-width: 600px) {
    width: auto;
  }
}

.search-filter-sort .lux-dropdown-menu + .lux-dropdown-menu,
.search-filter-sort .lux-dropdown-menu:last-child {
  margin-bottom: 0;
  margin-left: 0;
  @media (min-width: 1025px) {
    margin-bottom: 1rem;
    margin-left: 0.25rem;
  }
}

.search-filter-sort .lux-date-picker {
  margin-bottom: 0;
  @media (min-width: 600px) {
    width: 210px;
  }
}

.lux-search-box .lux-button,
.lux-search-box .lux-button.text {
  width: auto;
  background-color: lighten(rgb(210, 202, 173), 20%);
}

.date-filter form {
  display: flex;

  @media (max-width: 599px) {
    .lux-search-box {
      flex-wrap: wrap;
      width: 100%;

      .lux-date-picker,
      .lux-button {
        width: 100%;
      }
    }
  }
}

.pagination a {
  box-shadow: var(--box-shadow-small);
  border-radius: var(--border-radius-default);
  background-color: var(--color-white);
  padding: var(--space-x-small) var(--space-small);
  margin-left: var(--space-xx-small);
  text-decoration: none;
  color: var(--color-rich-black);
  display: inline-block;

  @media (max-width: 599px) {
    margin-bottom: var(--space-x-small);
  }

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-selected);
    outline: 0;
  }
}

.page.current {
  background-color: initial;
  box-shadow: none;
  padding: var(--space-xx-small);
  text-align: center;
}
