/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f8f4;
}

.main-content {
  padding-top: 1rem;
}

.stretch-height {
  height: calc(100vh - 88px);
  text-align: center;
}

.lux-card-content .small,
.lux-card-header .default {
  color: rgb(65, 70, 78);
}

.lux-card-media {
  flex-basis: 85px;
}

.lux-card-header {
  flex-basis: calc(100% - 90px);
}

.lux-card-content .lux-tag .lux-tag-item {
  margin: 0;
}

.lux-tag.filter {
  margin: 0 14px;
}

@media (max-width: 599px) {
  .my-request .full-width .lux-card-content {
    margin-left: 90px;
    padding: 0 0 1rem;
    width: 100%;
  }

  .my-request .lux-tag.end {
    float: left;
    margin-right: 1rem;
  }
}

.travel-estimates tr:last-child td,
.expense-total .lux-text-style {
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
}

/* notes and other staff */
.notes,
.staff {
  list-style-type: none;
}

.notes li {
  padding-bottom: 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
}

.notes li:last-child {
  border: 0;
  padding: 0;
}

.notes .status-icon {
  padding: 0 0.5rem 0 0.5rem;
  line-height: 1;
}

.notes strong {
  display: block;
}

/* request show page headers */
.title-card .lux-card-header span {
  display: block;
}

.title-card .event-requestor {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.title-card .event-dates {
  margin-top: 1.75rem;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
}

.title-card .lux-card-media {
  padding: 0 0.5rem 1rem;
}

.title-card .lux-tag {
  justify-content: center;
}

.title-card .lux-card-content .status-red {
  background: #facec8;
  padding: 1.5rem;
}

.title-card .lux-card-content .status-yellow {
  background: #ffecbd;
  padding: 1.5rem;
}

.title-card .lux-card-content .status-green {
  background: #c3ed79;
  padding: 1.5rem;
}

/* makes cards equal height */
.request .lux-card,
.review .lux-card {
  height: 100%;
}

.absence.lux-card {
  width: 100%;
}

.absence.lux-card h3 {
  margin-bottom: 0.2em;
}

/* makes anticipated expenses look more like table */
.expenses .expense-row {
  padding: 0;
}

.expenses .lux-col {
  padding: 0.5rem 0 0 0.5rem;
}

.expense-row .lux-flex-container {
  padding: 0;
}

.expense-row .lux-col:first-child {
  padding-left: 0;
}

.expense-row-header .lux-col {
  padding: 1rem 0 0 1rem;
}

.expense-row-header .lux-flex-container {
  padding-bottom: 0;
}

.expense-delete {
  flex-basis: auto;
}

.expense-add {
  margin-left: 85px;
}

.expense-add .lux-icon {
  margin-left: 0;
}

.expense-total,
.expense-total-col input {
  text-align: right;
}
