/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "lux-design-system/dist/system/tokens/tokens";
@import "lux-design-system/dist/system/system.utils.scss";

@import "base";
@import "card";
@import "card_header";
@import "estimates";
@import "notes";
@import "parameters";

.no-js {
  visibility: hidden;
  opacity: 0;
 }

 .js {
  visibility: visible;
  opacity: 1;
 }

 .form-button {
   display: inline;
 }

 .estimates .row td:nth-child(4)>span::before {
    content: "$";
 }

 .estimates .row:last-child td:nth-child(4)>span::before {
    content: "";
 }

 .estimates .row:last-child td:last-child {
    white-space: nowrap;
 }

 article.full-width {
   width: 100%;
   display: flex;
   align-items: flex-start;
   flex-flow: row wrap;
   box-sizing: border-box;
   margin: 24px 0 24px 0;
   font-family: franklin-gothic-urw,Helvetica,Arial,sans-serif;
   line-height: 1.6;
   background: #fff;
   box-shadow: 0 0 0 1px rgba(92,106,196,.1);
   color: #001123;
   position: relative;
   margin-bottom: 0;
 }
